{config_load file="$language/lang_$language.conf" section="checkout_payment"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
<ul id="checkoutnavigation">
  <li class="inactive"><span class="number">1.</span> <span class="title">{#title_shipping#}</span><br /><span class="description">{#desc_shipping#}</span></li>
  <li class="active"><span class="number">2.</span> <span class="title">{#title_payment#}</span><br /><span class="description">{#desc_payment#}</span></li>
  <li class="inactive"><span class="number">3.</span> <span class="title">{#title_confirmation#}</span><br /><span class="description">{#desc_confirmation#}</span></li>
  <li class="inactive last"><span class="number">4.</span> <span class="title">{#title_success#}</span><br /><span class="description">{#desc_success#}</span></li>
</ul>
<div style="clear:both"></div>
{if $error != ''}<br /><div class="errormessage">{$error}</div>{/if}
{if $step2 != 'true'}
<h1>{#title_address#}</h1>
{$FORM_ACTION}
<p>{$ADDRESS_LABEL}</p>
<p>{$BUTTON_ADDRESS}</p>
{/if}
{if (!isset($GV_COVER) || $GV_COVER != 'true') && (!isset($NO_PAYMENT) || $NO_PAYMENT != 'true')}
  <h1>{#title_payment#}</h1>
  <p>{#text_payment#}</p>
  {$PAYMENT_BLOCK}{$module_gift}
{elseif isset($GV_COVER) && $GV_COVER == 'true'}
  <div class="infomessage" id="gccover"><b>{#text_gccover#}</b></div>
{elseif isset($NO_PAYMENT) && $NO_PAYMENT == 'true'}
  <div class="infomessage" id="nopayment"><b>{#text_nopayment#}</b></div>
{/if}
{if $step2 != 'true'}
  <h2>{#title_comments#}</h2>
  <p class="checkoutcomment">{$COMMENTS}</p>
  {if $smarty.const.DISPLAY_CONDITIONS_ON_CHECKOUT == 'true'}
    <h2>{#title_agb#}</h2>
    <div class="checkoutagb">{$AGB}</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="4">
      <tr>
      {if "SIGN_CONDITIONS_ON_CHECKOUT"|defined}
        {if $smarty.const.SIGN_CONDITIONS_ON_CHECKOUT == 'true'}<td>{$AGB_checkbox}</td>{/if}
        <td width="100%"{if $smarty.const.SIGN_CONDITIONS_ON_CHECKOUT == 'false'} colspan="2"{/if}><strong><label for="conditions">{#text_accept_agb#}</label></strong>&nbsp;{$AGB_LINK}</td>
      {else}
        <td>{$AGB_checkbox}</td>
        <td width="100%"><strong><label for="conditions">{#text_accept_agb#}</label></strong>&nbsp;{$AGB_LINK}</td>
      {/if}
      </tr>
      {if isset($PRIVACY_LINK)}
      <tr>
        {if $PRIVACY_checkbox}<td>{$PRIVACY_checkbox}</td>{/if}
        <td width="100%"{if !$PRIVACY_checkbox} colspan="2"{/if}><strong><label for="privacy">{if $PRIVACY_checkbox}{#text_privacy_accept#}{else}{#text_privacy_notice#}{/if}</label></strong>&nbsp;{$PRIVACY_LINK}</td>
      </tr>
      {/if}
      {if isset($REVOCATION_checkbox)}
      <tr>
        <td>{$REVOCATION_checkbox}</td>
        <td width="100%"><strong><label for="revocation">{#text_accept_revocation#}</label></strong>&nbsp;{$REVOCATION_LINK}</td>
      </tr>
      {/if}
    </table>
  {else}
    {if isset($PRIVACY_LINK) || isset($REVOCATION_checkbox)}
      <table width="100%" border="0" cellspacing="0" cellpadding="4">
        {if isset($PRIVACY_LINK)}
        <tr>
          {if $PRIVACY_checkbox}<td>{$PRIVACY_checkbox}</td>{/if}
          <td width="100%"{if !$PRIVACY_checkbox} colspan="2"{/if}><strong><label for="privacy">{if $PRIVACY_checkbox}{#text_privacy_accept#}{else}{#text_privacy_notice#}{/if}</label></strong>&nbsp;{$PRIVACY_LINK}</td>
        </tr>
        {/if}
        {if isset($REVOCATION_checkbox)}
        <tr>
          <td>{$REVOCATION_checkbox}</td>
          <td width="100%"><strong><label for="revocation">{#text_accept_revocation#}</label></strong>&nbsp;{$REVOCATION_LINK}</td>
        </tr>
        {/if}
      </table>
    {/if}
  {/if}
{/if}
<p>{$BUTTON_CONTINUE}</p>
{$FORM_END}
