<div class="smallText" style="clear:both;">
  <div style="float:left;">{$DISPLAY_COUNT}</div>
  <div style="float:right" class="pagination">
    {$smarty.const.TEXT_RESULT_PAGE}&nbsp;
    <ul>
      {if isset($DISPLAY_LINKS.previous)}<li>{$DISPLAY_LINKS.previous}</li>{/if}
      {if isset($DISPLAY_LINKS.previouspages)}<li>{$DISPLAY_LINKS.previouspages}</li>{/if}
      {foreach key="keys" name="outer" item="pages" from=$DISPLAY_LINKS.pages}
        <li class="{$keys}">{$pages}</li>
      {/foreach}
      {if isset($DISPLAY_LINKS.nextpages)}<li>{$DISPLAY_LINKS.nextpages}</li>{/if}
      {if isset($DISPLAY_LINKS.next)}<li>{$DISPLAY_LINKS.next}</li>{/if}
    </ul>
  </div>
  <br style="clear:both" />
</div>