{config_load file="$language/lang_$language.conf" section="checkout_payment_address"}
{config_load file="$language/lang_$language.conf" section="checkout_navigation"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="checkout_payment_address"}
{if isset($NO_SHIPPING)}
  <ul id="checkoutnavigation" class="cn_no_shipping cf">
    <li><span class="active cf"><span class="title">1. {#title_payment#}</span><span class="description">{#desc_payment#}</span></span></li>
    <li><span class="inactive cf"><span class="title">2. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></span></li>
    <li><span class="inactive cf"><span class="title">3. {#title_success#}</span><span class="description">{#desc_success#}</span></span></li>
  </ul>
{else}
  <ul id="checkoutnavigation" class="cf">
    <li><span class="inactive cf"><span class="title">1. {#title_shipping#}</span><span class="description">{#desc_shipping#}</span></span></li>
    <li><span class="active cf"><span class="title">2. {#title_payment#}</span><span class="description">{#desc_payment#}</span></span></li>
    <li><span class="inactive cf"><span class="title">3. {#title_confirmation#}</span><span class="description">{#desc_confirmation#}</span></span></li>
    <li><span class="inactive cf"><span class="title">4. {#title_success#}</span><span class="description">{#desc_success#}</span></span></li>
  </ul>
{/if}

<h1 class="checkout">{#heading_address#}</h1>
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
{$FORM_ACTION}
<div class="twoColums">
  <div class="highlightbox">
    <h4>{#text_current_address_short#}<span class="mini">&nbsp;</span></h4>
    <p>{$ADDRESS_LABEL}</p>
  </div>
  <br />
  {if isset($BLOCK_ADDRESS_ARRAY)}
    <div class="highlightbox">
      <h4>{#title_old_addresses#}</h4>
      <p>{#text_old_addresses#}</p>
      <ol id="address_block">
        {foreach item=module_data from=$BLOCK_ADDRESS_ARRAY}
          <li>
            <div class="cus_radio cus_my_5">
              {$module_data.RADIO_FIELD}
              <label for="field_addresses_{$module_data.ADDRESS_BOOK_ID}">
                {$module_data.FIRSTNAME} {$module_data.LASTNAME}, {$module_data.CITY}
                <span class="address">{$module_data.ADDRESS_LABEL|replace:"<br />":", "}</span>
              </label>              
            </div>
          </li>
        {/foreach}
      </ol>
    </div> 
  {elseif isset($BLOCK_ADDRESS)}
    <div class="highlightbox">
      <h4>{#title_old_addresses#}</h4>
      <p>{#text_old_addresses#}</p>
      {$BLOCK_ADDRESS}
    </div>      
  {/if}  
</div>

<div class="twoColums last">
  <div class="highlightbox">
    {if $MODULE_new_address}
    {$MODULE_new_address}
    {/if}
  </div>
</div>
<br class="clearfix" />
<div class="button_left cf"><div class="cssButtonPos4">{$BUTTON_BACK}</div></div>
<div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_CONTINUE}</div></div>
{$FORM_END}