{config_load file="$language/lang_$language.conf" section="new_products"}
{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/lang_$language.conf" section="wishlist"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="wishlist"}
{if isset($BUTTON_CONTINUE)}
  <div class="headline_big">{#heading_wishlist#}</div>
  <p>{#text_empty_wishlist#}</p>
  <div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_CONTINUE}</div></div>
{elseif isset($module_content)}
  {if isset($wishlist_cart)}<br />{/if}
  <div class="headline_big">{#heading_wishlist#}</div>
  <div class="listingcontainer_full cf">
  {if $PRODUCT_LIST_BOX == false}
    {foreach name=aussen item=module_data from=$module_content}
    <div class="listingbox">
      <div class="lb_inner">
        <div class="lb_image">
        {if $module_data.PRODUCTS_IMAGE != ''}
          <a href="{$module_data.PRODUCTS_LINK}"><img class="lazyload" data-src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME|onlytext}" title="{$module_data.PRODUCTS_NAME|onlytext}" /></a>
          <noscript><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME|onlytext}" title="{$module_data.PRODUCTS_NAME|onlytext}" /></a></noscript>
        {/if}
        </div>
        <div class="lb_title"><h2><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h2></div>
        <div class="lb_shipping">{if $module_data.PRODUCTS_SHIPPING_NAME}{#text_shippingtime#} {if $module_data.PRODUCTS_SHIPPING_IMAGE}<span class="lb_shipping_image"><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME|onlytext}" /></span>{/if}{$module_data.PRODUCTS_SHIPPING_NAME_LINK}{else}&nbsp;{/if}</div>
        <div class="lb_price">
          <span class="standard_price">{$module_data.PRODUCTS_PRICE}</span>
          {if $module_data.PRODUCTS_VPE}<div class="lb_vpe">{$module_data.PRODUCTS_VPE}</div>{/if}
        </div>
        <div class="lb_tax">{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}</div>
        <div class="lb_buttons cf"><div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_BUY_NOW}</div><div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_DELETE}</div></div>
      </div>
    </div>
    {/foreach}
  {else}  
    {foreach name=aussen item=module_data from=$module_content}
    <div class="listingrow">
      <div class="lr_inner cf">
        <div class="lr_image">
        {if $module_data.PRODUCTS_IMAGE != ''}
          <a href="{$module_data.PRODUCTS_LINK}"><img class="lazyload" data-src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME|onlytext}" title="{$module_data.PRODUCTS_NAME|onlytext}" /></a>
          <noscript><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME|onlytext}" title="{$module_data.PRODUCTS_NAME|onlytext}" /></a></noscript>
        {/if}      
        </div>
        <div class="lr_content cf">
          <div class="lr_title"><h2><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></h2></div>
          <div class="lr_desc_box">
            {if is_array($module_data.ATTRIBUTES) && count($module_data.ATTRIBUTES) > 0}
            <div class="lr_desc">
              <ul class="attributes_list">
                {foreach key=key_data item=item_data from=$module_data.ATTRIBUTES} 
                <li><strong>{$item_data.NAME}:</strong> {$item_data.VALUE_NAME}</li>
                {/foreach} 
              </ul>
            </div>
            {/if}
            {if $module_data.PRODUCTS_SHORT_DESCRIPTION}<div class="lr_desc">{$module_data.PRODUCTS_SHORT_DESCRIPTION}</div>{/if}
            <div class="lr_shipping">{if $module_data.PRODUCTS_SHIPPING_NAME}{#text_shippingtime#} {if $module_data.PRODUCTS_SHIPPING_IMAGE}<span class="lr_shipping_image"><img src="{$module_data.PRODUCTS_SHIPPING_IMAGE}" alt="{$module_data.PRODUCTS_SHIPPING_NAME|onlytext}" /></span>{/if}{$module_data.PRODUCTS_SHIPPING_NAME_LINK}{else}&nbsp;{/if}</div>
          </div>
          <div class="lr_price_box">
            <div class="lr_price">
              <span class="standard_price">{$module_data.PRODUCTS_PRICE}</span>
            </div>
            {if $module_data.PRODUCTS_VPE}<div class="lr_vpe">{$module_data.PRODUCTS_VPE}</div>{/if}
            <div class="lr_tax">{$module_data.PRODUCTS_TAX_INFO}{$module_data.PRODUCTS_SHIPPING_LINK}</div>
            <div class="lr_buttons cf"><div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_BUY_NOW}</div><div class="cssButtonPos11">{$module_data.PRODUCTS_BUTTON_DELETE}</div></div>
          </div>
        </div>
      </div>
    </div>
    {/foreach}  
  {/if}
  </div>
{/if}