{config_load file="$language/lang_$language.conf" section="account_password"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="account_password"}
<h1>{#heading_password#}</h1>
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
{$FORM_ACTION}
<div class="twoColums cf">
  <div class="highlightbox">
    <h4>{#text_account_info#} <span class="pflicht">({#text_must#})</span></h4>
    <p>{#text_password_policy#|sprintf:$smarty.const.ENTRY_PASSWORD_MIN_LENGTH}</p>
    <table>
      {if isset($INPUT_ACTUAL)}
      <tr>
        <td><span class="fieldtext">{#text_actual#}</span><span class="stern">{$INPUT_ACTUAL}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_new#}</span><span class="stern">{$INPUT_NEW}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_confirm#}</span><span class="stern">{$INPUT_CONFIRM}</span></td>
      </tr>
    </table>
  </div>
</div>
<br class="clearfix" />
<div class="text_left">{$BUTTON_BACK}</div>
<div class="button_right">{$BUTTON_SUBMIT}</div>
{$FORM_END}