{config_load file="$language/lang_$language.conf" section="account_delete"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="account_delete"}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
{if $BUTTON_CONTINUE}
  <h1>{#heading_account_deleted#}</h1>
  <p>{#account_deleted#}</p>
  <div class="button_right">{$BUTTON_CONTINUE}</div>
{else}
  <h1>{#heading_delete_account#}</h1>
  <p>{#delete_account#}</p>
  {$FORM_ACTION}
  <div style="margin:10px 0px;width:300px;">{$INPUT_PASSWORD}</div>
  <div class="button_left">{$BUTTON_BACK}</div>
  <div class="button_right">{$BUTTON_SUBMIT}</div>
  {$FORM_END}
{/if}