{config_load file="$language/lang_$language.conf" section="advanced_search"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="advanced_search"}
<h1>{#heading_search#}</h1>
{$FORM_ACTION}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
<div class="highlightbox">
  <table>
    <tr>
      <td colspan="3"><span class="fieldtext">{#title_keywords#}</span>{$INPUT_KEYWORDS}<br /><span class="mini"><a href="{$HELP_LINK}" title="{$smarty.const.TEXT_LINK_TITLE_INFORMATION}" class="{if $smarty.const.TPL_POPUP_CONTENT_LINK_CLASS}{$smarty.const.TPL_POPUP_CONTENT_LINK_CLASS}{else}{$smarty.const.POPUP_CONTENT_LINK_CLASS}{/if}">{#text_help#}</a></span></td>
    </tr>
    <tr>
      <td colspan="3"><span class="fieldtext">{#text_categories#}</span>{$SELECT_CATEGORIES}</td>
    </tr>
    <tr>
      <td colspan="3">{$ENTRY_SUBCAT}{#text_subkategories#}</td>
    </tr>
    <tr>
      <td><span class="fieldtext">{#text_manufacturer#}</span>{$SELECT_MANUFACTURERS}</td>
      <td><span class="fieldtext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><span class="fieldtext">{#text_min#}</span>{$SELECT_PFROM}</td>
    </tr>
    <tr>
      <td><span class="fieldtext">&nbsp;</td>
      <td><span class="fieldtext">&nbsp;</td>
      <td><span class="fieldtext">{#text_max#}</span>{$SELECT_PTO}</td>
    </tr>
  </table>
</div>
<div class="button_right">{$BUTTON_SUBMIT}</div>
{$FORM_END}