{config_load file="$language/lang_$language.conf" section="create_account"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="create_account_guest"}
<h1>{#heading_create_guest_account#}</h1>
{$FORM_ACTION}
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
<div class="twoColums">
  <div class="highlightbox">
    <h4>{#title_personal#} <span class="pflicht">({#text_must#})</span></h4>
    <table>
      {if $gender == '1'}
      <tr>
        <td><span class="fieldtext">{#text_gender#}</span><span class="stern">{$INPUT_GENDER}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_firstname#}</span><span class="stern">{$INPUT_FIRSTNAME}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_lastname#}</span><span class="stern">{$INPUT_LASTNAME}</span></td>
      </tr>
      {if $birthdate == '1'}
      <tr>
        <td><span class="fieldtext">{#text_birthdate#}</span><span class="stern">{$INPUT_DOB}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_email#}</span><span class="stern">{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_confirm_email#}</span><span class="stern">{$INPUT_CONFIRM_EMAIL|replace:"type=\"text\"":"type=\"email\""}</span></td>
      </tr>
    </table>
    {if $company == '1'}
    <br />
    <h4>{#title_company#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_company#}</span><span class="stern">{$INPUT_COMPANY}</span></td>
      </tr>
      {if $vat == '1'}
      <tr>
        <td><span class="fieldtext">{#text_ustid#}</span><span class="stern">{$INPUT_VAT|replace:"Nur":"<br />Nur"}</span></td>
      </tr>
      {/if}
    </table>
    {/if}
    {if $CHECKBOX_NEWSLETTER}
    <br />
    <h4>{#title_newsletter#}</h4>
    <table>
      <tr>
        <td class="checkbox">{$CHECKBOX_NEWSLETTER}</td>
        <td class="midi"><label for="newsletter">{#text_newsletter#}</label></td>
      </tr>
    </table>
    {/if}
  </div>
</div>
<div class="twoColums last">
  <div class="highlightbox">
    <h4>{#title_address#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_street#}</span><span class="stern">{$INPUT_STREET}</span></td>
      </tr>
      {if $suburb == '1'}
      <tr>
        <td><span class="fieldtext">{#text_suburb#}</span><span class="stern">{$INPUT_SUBURB}</span></td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_code#}</span><span class="stern">{$INPUT_CODE}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_city#}</span><span class="stern">{$INPUT_CITY}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_country#}</span><span class="stern">{$SELECT_COUNTRY}</span></td>
      </tr>
      {if $state == '1'}
      <tr{if $display_state}{$display_state}{/if}>
        <td><span class="fieldtext">{#text_state#}</span><span class="stern">{$INPUT_STATE}</span></td>
      </tr>
      {/if}
    </table>
    <br />
    <h4>{#title_contact#}</h4>
    <table>
      <tr>
        <td><span class="fieldtext">{#text_tel#}</span><span class="stern">{$INPUT_TEL|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#text_fax#}</span><span class="stern">{$INPUT_FAX|replace:"type=\"text\"":"type=\"tel\""}</span></td>
      </tr>
    </table>
    {if $INPUT_VVCODE || $VVIMG}
    <br />
    <table>
      {if $VVIMG}
        <tr>
          <td><span class="fieldtext">{#text_sec_code#}</span>{$VVIMG}</td>
        </tr>
      {/if}
      {if $INPUT_VVCODE}
        <tr>
          <td><span class="fieldtext">{#text_sec_code#}</span><span class="stern">{$INPUT_VVCODE}</span></td>
        </tr>
      {/if}
    </table>
    {/if}
  </div>
  {if "SIGN_CONDITIONS_ON_CHECKOUT"|defined}
    <br />
    <table>
      <tr>
        {if $PRIVACY_CHECKBOX}<td class="checkbox">{$PRIVACY_CHECKBOX}</td>{/if}
        <td class="midi td_full"><strong><label for="privacy">{if $PRIVACY_CHECKBOX}{#text_privacy_accept#}{else}{#text_privacy_notice#}{/if}</label></strong> {$PRIVACY_LINK}</td>
      </tr>
    </table>
  {else}
    {if $PRIVACY_CHECKBOX}
    <br />
    <table>
      <tr>
        <td class="checkbox">{$PRIVACY_CHECKBOX}</td>
        <td class="midi td_full"><strong><label for="privacy">{#text_privacy_accept#}</label></strong> {$PRIVACY_LINK}</td>
      </tr>
    </table>
    {/if}
  {/if}
</div>
<br class="clearfix" />
<div class="button_right">{$BUTTON_SUBMIT}</div>
{$FORM_END}