{config_load file="$language/lang_$language.conf" section="gv_send"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="gv_send"}
<h1>{#heading_gvsend#}</h1>
{if $action == 'process'}
  <br />
  <div class="button_right">{$LINK_DEFAULT}</div>
{elseif $action == 'send'}
  {$FORM_ACTION}
  <p>{$MAIN_MESSAGE}</p>
  {if $POST_MESSAGE neq ''}
    <p>{$PERSONAL_MESSAGE}</p>
    <p>{$POST_MESSAGE}</p>
  {/if}
  {$HIDDEN_FIELDS}
  <div class="button_left">{$LINK_BACK}</div>
  <div class="button_right">{$LINK_SUBMIT}</div>
  {$FORM_END}
{elseif $action == ''}
  <p>{#heading_text#}&nbsp;{$GV_FAQ_LINK}</p>
  <br />
  {$FORM_ACTION}
  {if $error != ''}<div class="errormessage">{$error}</div>{/if}
  <div class="highlightbox">
    <table>
      <tr>
        <td><span class="fieldtext">{#entry_name#}</span>{$INPUT_TO_NAME}</td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#entry_email#}</span>{$INPUT_EMAIL} {if $ERROR_EMAIL neq ''}{$ERROR_EMAIL}{/if}</td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#entry_amount#}</span>{$INPUT_AMOUNT} {if $ERROR_AMOUNT neq ''}{$ERROR_AMOUNT}{/if}</td>
      </tr>
      <tr>
        <td><span class="fieldtext">{#entry_message#}</span>{$TEXTAREA_MESSAGE}</td>
      </tr>
    </table>
  </div>
  <div class="button_right">{$LINK_SUBMIT}</div>
  {$FORM_END}
{/if}
