{config_load file="$language/lang_$language.conf" section="new_password"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="new_password"}
<h1>{$text_heading}</h1>
{$FORM_ACTION}
<div class="twoColums">
  <div class="highlightbox plainleft">
    <h4>{$message}</h4>
    <p><strong>{#text_step1#}</strong><br />{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}</p>
  </div>
</div>
<div class="twoColums last">
  <div class="highlightbox margintop">
    {if $info_message != ''}<div class="errormessage">{$info_message}</div>{/if}
    {if $success_message != ''}<div class="infomessage">{$success_message}</div>{/if}
    <table>
      {if $VVIMG}
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</span>{$VVIMG}</td>
      </tr>
      {/if}
      {if $INPUT_CODE}
      <tr>
        <td><span class="fieldtext">{#text_sec_code#}:</span>{$INPUT_CODE}</td>
      </tr>
      {/if}
      <tr>
        <td><span class="fieldtext">{#text_email#}</span>{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}</td>
      </tr>
    </table>
  </div>
</div>
<br class="clearfix" />
<div class="text_left">{#text_continue#}</div>
<div class="button_right">{$BUTTON_SEND}</div>
{$FORM_END}