{config_load file="$language/lang_$language.conf" section="products_media"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="products_media"}
<h4 class="detailbox">{#file#}</h4>
{foreach name=aussen item=module_data from=$module_content}
<div class="mediarow {cycle values="media_bg1,media_bg2"}">
  <div class="mediarow_headline cf">
    <span class="mediarow_title">{$module_data.FILENAME}</span>
    <span class="mediarow_button">{if $module_data.BUTTON != ''}{$module_data.BUTTON}{else}&nbsp;{/if}</span>
    <span class="mediarow_filesize">{$module_data.FILESIZE}</span>
  </div>
  {if $module_data.DESCRIPTION != ''}<div class="mediarow_desc">{$module_data.DESCRIPTION}</div>{/if}
</div>
{/foreach}