{config_load file="$language/lang_$language.conf" section="reviews"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="reviews"}
<h1>{#heading_reviews#}</h1>
{if $error != ''}<div class="errormessage">{$error}</div>{/if}
{if $success_message != ''}<div class="infomessage">{$success_message}</div>{/if}
{foreach name=aussen item=module_data from=$module_content}
<div class="reviewsbox {cycle values="rb_left,rb_right"}">
  <div class="reviewsbox_inner cf">
    <div class="rb_headline"><strong>{#text_product#}</strong> <a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a></div>  
    <div class="rb_autor"><strong>{#text_author#}</strong> {$module_data.AUTHOR}</div>
    <div class="rb_rating"><strong>{#text_rating#}</strong> {$module_data.RATING|replace:".gif":".png"}</div>
    <br class="clearfix" />
    <div class="rb_image">{if $module_data.PRODUCTS_IMAGE != ''}<a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME|onlytext}" title="{$module_data.PRODUCTS_NAME|onlytext}" /></a>{/if}</div>
    <div class="rb_rezension">
      <p><strong>{#text_text#}</strong></p>
      <p>{$module_data.TEXT_PLAIN|onlytext}</p>
    </div>
  </div>
</div>
{/foreach}
<br class="clearfix" />
{$PAGINATION}