/*FIXED HEADER*/
#fixed-header{
position:static; 
top:0px;
z-index:100;
height:auto;
width:100%;
background-color:#fff;
padding-top:42px;
}
.fixed-header-height{
height:0;
}
.fixed_messageStack{
margin: 0 5px 6px;
}
.admin_spacer{
height: 0px;
}
.fixed-header-height.active {
height: 0px;
}
#fixed-header.active {
height: 84px;
}