
select.selectBox {
border: 0 none!important; /*Removes border*/
background: #fafafa url(images/arrow_select.png) no-repeat right center; /* add your own arrow image */
*background-image:none; /* turn bg image for IE7 */
/*width: 100px; /*Width of select dropdown to give space for arrow image*/
text-indent: 0.01px; /* Removes default arrow from firefox*/
text-overflow: ""; /*Removes default arrow from firefox*/ /*My custom style for fonts*/
color: #000;
box-shadow: inset 0 0 1px rgba(000,000,000, 0.5);
padding: 0;
cursor: pointer;
line-height:28px;
-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
-moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
appearance: none;
border-radius: 0;
}

.fnSelectWrap {
display: inline-block; 
margin-top: 0;
height: 28px;
}

.fnSelectWrap select option{
padding-top:5px;
padding-bottom:5px;
}

td.dataTableConfig .fnSelectWrap { 
width: 100% !important;
}

select.selectBox::-ms-expand {
/* IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
/* IE 5-7 */
filter: alpha(opacity=0);
/* Good browsers :) */
opacity:0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */ 
  select.selectBox {
  padding:5px 0;
  }
}



