{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
{$FORM_ACTION}
<div class="search_inner{if isset($CATEGORIES)} search_cat_mode{/if}">
  {if isset($CATEGORIES)}<div class="search_cat">{$CATEGORIES}</div>{/if}
  <div class="search_input">{$INPUT_SEARCH}</div>
  <div class="search_button">{$BUTTON_SUBMIT}</div>
</div>
{$FORM_END}
<div class="suggestionsBox" id="suggestions" style="display:none;">
  <div class="suggestionList" id="autoSuggestionsList">&nbsp;</div>
</div>