#  -----------------------------------------------------------------------------------------
#  $Id: .htaccess 9957 2016-06-09 12:01:38Z GTB $
#
#  modified eCommerce Shopsoftware
#  http://www.modified-shop.org
#
#  Copyright (c) 2009 - 2016 [www.modified-shop.org]
#  -----------------------------------------------------------------------------------------
#  Released under the GNU General Public License 
#  -----------------------------------------------------------------------------------------
#
# This is used with Apache WebServers
# The following blocks direct HTTP requests in this directory recursively

<IfModule mod_rewrite.c>
  RewriteEngine off
</IfModule>

